.container{
    padding: 30px;
}
.container table{
    font-size: 18px;
}
table{
    margin: auto ;
}
table td img{
    width: 100px;
    border-radius: 50px;
    /* border: #333 solid 5px; */
}
table td{
    padding: 10px 20px;
}
table tr{
    background-color: #f5f5f5;
}
.github-btn{
    color: #f5f5f5;
    background-color: #333;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 500;
}
.more-btn{
    color: #f5f5f5;
    background-color: #bd2c00;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 500;
}
.search-bar{
    text-align: center;
}
.search-bar input{
    padding: 5px 10px;
    border: #f5f5f5 solid 2px;
    border-radius: 15px;
    width: 300px;
    margin: 30px 0px 50px 0px;
    font-size: 18px;
}
.search-bar input:focus{
    outline: none;
}